GEMINI_API_KEY=
GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=
GOOGLE_CLIENT_ID=740930190910-etc6v2vnhchvt5i3djvh6q7t3jmqstjj.apps.googleusercontent.com
GROQ_API_KEY=
GROQ_MODEL=
MONGO_URI=
STUDENT_WHATSAPP_TO=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=
